body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor{
    display: grid;
    grid-template-columns: 180px 180px 180px;
    width: 100vw;
    justify-content: space-between;
    row-gap: 50px;

}
.cuadrado{
    width: 180px;
    height: 180px;
    background-color: cornflowerblue;
}

.cuadrado2{
    width: 180px;
    height: 180px;
    background-color: paleturquoise;
}

.cuadrado3{
    width: 180px;
    height: 180px;
    background-color: pink;
}

.cuadrado4{
    width: 180px;
    height: 180px;
    background-color: blueviolet;
}

.cuadrado5{
    width: 180px;
    height: 180px;
    background-color: green;
}

.cuadrado6{
    width: 180px;
    height: 180px;
    background-color: aquamarine;
}

.circulo{
    width: 180px;
    height: 180px;
    background-color: purple;
    border-radius: 50%;
}
.circulo2{
    width: 180px;
    height: 180px;
    background-color: greenyellow;
    border-radius: 50%;
}
.circulo3{
    width: 180px;
    height: 180px;
    background-color: blue;
    border-radius: 50%;
}